input {
    width: 22%;
    height: 40%;
}

button {
    margin-left: 1.5em;
    padding: 0 0.5em;
}

h2 {
    margin-right: 3em;
    margin-left: 1.5em;
}

.navbar {
    width: 70%;
    height: 14%;
    background: #2680c0;
    margin-top: 2em;
    color: #fff;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    position: static;
}

.search-input {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-top: 1.8em;
}

.search-input input {
    width: 100%;
    height: 50%;
}

